.box {
  color: white;
  background-color: coral;
  display: grid;
  grid-template-rows: 10fr 4fr 1fr;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 6rem;
  height: 11rem;
}

.caption {
  height: 2rem;
  grid-row: 1 / 2;
}

.image {
  grid-row: 2 / 3;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.price {
  text-align: end;
  grid-row: 3 / 4;
}
