.box {
  color: white;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  border: 1px solid pink;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 7rem;
  height: 7rem;
}

.caption {
  grid-column: 1;
  align-self: self-start;
}

.price {
  grid-column: 2;
  text-align: end;
}

.imgage {
  grid-column: 1 / 3;
}
