.box {
  color: white;
  background-color: coral;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 4fr;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 7rem;
  height: 8rem;
}

.caption {
  grid-column: 1;
  grid-row: 1;
  align-self: self-start;
}

.price {
  grid-column: 2;
  grid-row: 1;
  text-align: end;
}

.image {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
