.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 3rem;
  color: var(--color4);
  margin-bottom: 0.5rem;
  background-color: var(--color2);
}

.caption {
  min-width: 1rem;
  font-size: 2rem;
  white-space: nowrap;
}

.logo {
  justify-self: start;
  margin-left: 3rem;
  max-height: 3rem;
}

.button {
  width: 7rem;
  height: 2rem;
  background-color: var(--color0);
  color: var(--color4);
  justify-self: end;
  margin-right: 1rem;
}
