* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color0: #d73c13;
  --color1: #fcd48a;
  --color2: #1D1F3C;
  --color3: #a62e0e;
  --color4: #d0d0b4;
  --color5: #314354;

  font-family: Lora, serif;
  color-scheme: light dark ;
}